body {
  color: white;
  background: black;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
div label {
  padding-right: 10px;
}
